.header {
    @include border_1();
    margin-bottom: $marginBottom;

    &__title {
        color: $color_4;
        text-align: center;
    }

    &__btn {
        border: 1px solid black;
        border-radius: $borderRadius;
        outline: none;
        font-family: inherit;
        font-size: 1.2rem;
        display: block;
        margin: 0 auto 10px;
        padding: 5px 10px;
        background-color: lighten($color_1, 15%);
        color: black;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($color_1, 15%);
        }

        &:active {
            background-color: lighten($color_1, 15%);
        }
    }
}
